#content-container {
    margin: 0 2rem 6rem 0; 
    width: calc(100% - 2rem);
    height: calc(100% - 6rem);  
    background-color: violet;
}


@media screen and (max-width: 600px){
    #content-container {
        margin:0;
        width: 100%;
        height: 100%;
    }
}