.container-fresado{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    
    animation: show 1s;
    display: flex;
    flex-direction: column;
}

.container-header{
    width: 100%;
    height: 15%;
}
.data-container{
    width: 100%;
    padding-left: 2%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    font-weight:500;
}


.data-concept{
    height: 6rem;
    border-radius: 15px;
    margin: 1%;
    padding-bottom: 0.5rem;
    width: 46%;
    background-color: var(--third-color);



    display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "name name meta meta"
            ". . metaNumber metaNumber"
            "price barProgres barProgres barProgres";
    gap: 1px;

}


.price {
    padding-left: 10px;
    grid-area: price;
}

.name {
    padding-top: 10px;
    padding-left: 10px;
    grid-area: name;
    font-size: 18px;
}

.meta {
    grid-area: meta;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barProgres {
    grid-area: barProgres;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.metaNumber {
    grid-area: metaNumber;
}


@keyframes show {
    0%{
        height: 0;
        width: 0;
        border-radius: 0;
    }

    100%{
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }

}