#navWeb {
    background: #FFED4D;
    margin-right: 2rem;
    width: calc(100% - 2rem) ;
    height: 100% ;
    border-radius: 0  20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item-web h1 {
    font-size: 18px;
    color: var(--text-color);
    margin-left: 0.5rem;

}

.item-web{
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    align-items: center;
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
}

.item-web i{ 
    color: var(--accent-color);
}


@media screen and (max-width: 600px){
   
}