#navWeb-container {
    background-color: var(--main-color);
    margin: 1.4rem 1.7rem 1.4rem 1.7rem; 
    border-radius: 2rem;
    width: calc(100% - 3.4rem);
    height: calc(100% - 2.8rem);
    box-shadow: -10px 8px 12px #0000003d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.item-container-web h1 {
    font-size: 18px;
    color: var(--text-color);
    margin-left: 0.5rem;
}

.item-container-web{
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
    align-items: center;
}

.item-container-web i{ 
    color: var(--accent-color);
}


@media screen and (max-width: 600px){
    #navWeb-container {
            background-color: var(--main-color);
            margin: 0;
            border-radius: 0;
            width: 100% ;
            height: 100%;
            box-shadow: -10px 8px 12px #0000003d;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
}