#container-search{
    font-size: 12px;
    width: 70%;
    height: fit-content;
    padding: 0.3rem;
    margin-top: 1rem;
    background-color: var(--secundary-color);
    border-radius: 1rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    border: 1px var(--border-color) solid;
    position: relative;
    z-index: 3;
}

#hola{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



#hola input {
    margin-left: 0.3rem;
    font-size: 12px;
    background:none;
    border: none;
    outline: 0;    
    width: 100%;
    font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
}


#hola i{
    margin-right: 0.8rem;
    font-size: 17px;
    color: var(--accent-color);
}