#container-search{
    font-size: 12px;
    padding-left: 0.8rem;
    width: 70%;
    height: 2rem;
    background-color: var(--secundary-color);
    border-radius: 1rem;
    color: var(--text-color);
    box-shadow: var(--color-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
}



#container-search input {
    margin-left: 0.3rem;
    font-size: 12px;
    background:none;
    border: none;
    outline: 0;    
    width: 100%;
    font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
}


#container-search i{
    margin-right: 0.8rem;
    font-size: 17px;
    color: var(--accent-color);
}