#container-search{
    font-size: 12px;
    padding-left: 0.8rem;
    width: 70%;
    height: 2rem;
    background-color: var(--secundary-color);
    border-radius: 1rem;
    color: var(--text-color);
    box-shadow: var(--color-shadow);
    display: flex;
    align-items: center;
}



#container-search h1 {
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    font-size: 12px;
}

#container-search i{

    font-size: 17px;
    color: var(--accent-color);
}