.container-search{
    font-size: 12px;
    width: 70%;
    padding: 0.3rem;
    margin-top: 1rem;
    background-color: var(--secundary-color);
    border-radius: 1rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 3;
}

.search-show{
    height: fit-content;
}

.search-hidde{
    height: 20px;
}


.container-input{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.input-search {
    color: var(--text-color);
    font-style: italic;
    margin-left: 0.3rem;
    font-size: 12px;
    background:none;
    border: none;
    outline: 0;    
    width: 100%;
    font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
}


.container-input i{
    margin-right: 0.8rem;
    font-size: 17px;
    color: var(--accent-color);
}