#container-search{
    font-size: 12px;
    padding-left: 0.8rem;
    width: 50vw;
    background-color: var(--main-color);
    position: absolute; 
    top: 1.5rem;
    left: 16rem;
    border-radius: 1rem;
    color: var(--text-color);
    box-shadow: -5px 4px 6px #0000003d;
    display: flex;
    align-items: center;
}



#container-search div h1 {
    margin-top: 0.3rem;
    margin-left: 0.3rem;
    font-size: 12px;
}

#container-search i{

    font-size: 17px;
    color: var(--accent-color);
}