#container-topbarweb{
    height: 10%;
    width: 100%;
    display:flex;
    justify-content: space-around;
    
}

#container-user-setting {
    margin-top: 0.8rem;
    display: flex;
    width: 10rem;
    justify-content: space-around;
    
}

.box-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    background-color: var(--secundary-color);
    box-shadow: var(--color-shadow);
}

#container-user-setting i {
    font-size: 25px;
    color: var(--accent-color);
}