#app{
    
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: flex-start;
    background-color: #F2FEDC;
}

#container-nav{
    width: 15.5rem;
    min-width: 15.5rem;
    height: 100%; 
}

#container-section{
    width:calc(100% - 15.5rem);
    height: 100%;
    display: flex;
    flex-direction: column;

}
/* Esto es para la parte mobile */
/*max-width se aplica hasta llegar a los 600px */
@media screen and (max-width: 600px){
    #app{
        flex-direction: column;
    }
    #container-nav{
        width: 100%;
        height: 12%;
    }
    #container-section{
        width: 100%;
        height:88%;
    }
}
