#app{
    width: 100vw;
    height: 100vh;
    display: flex; 
    justify-content: flex-start;
}

#container-nav{
    width: 15.5rem;
    min-width: 15.5rem;
    height: 100%; 
    
}

#container-section{
    width: auto;
    width: 100%;

}
/* Esto es para la parte mobile */
/*max-width se aplica hasta llegar a los 600px */
@media screen and (max-width: 600px){
    #app{
        flex-direction: column;
    }
    #container-nav{
        width: 100%;
        height: auto;
    }
    #container-section{
        width: 100%;
        height:88%;
    }
}
