@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');



body {
  margin: 0;
  padding: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --accent-color: #631313;
  --main-color: #E8E8E8;
  --text-color: #6d6d6d;
}
