@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --accent-color:#675900;
  --main-color:#FFED4D; 
  --text-color: #675900;
  --secundary-color: #e2eb94;
  --third-color:#9b915c98;
  --color-shadow:0;
  --border-color:#ada257;
  --bg-color:#F2FEDC;
}
